.contacts-block {
    padding: 90px 0;

    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 457px;
    }

    &__heading {
        margin-bottom: 22px;
    }

    &__list {
        @include ul_reset;
        margin-bottom: 22px;
    }

    &__item {
        margin-bottom: 10px;
        
        &:last-child {
            margin-bottom: 0;
        }
        
        a {
            border-bottom: 1px solid transparent;
        }

        &--link:hover a {
            border-color: $heading_font_color;
        }
    }

    &__text {
        margin: 0;
        padding: 0;
        font-weight: 600;
        text-decoration: underline;
    }

    address {
        font-style: normal;
    }

    &__map {
        width: 540px;
        height: 458px;
        position: relative;
        overflow: hidden;

        #yandex-map,
        img {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
        }

        #yandex-map {
            z-index: 10;

            iframe {
                width: 100%;
                height: 100%;
                border: none;
            }
        }

        img {
            display: block;
            z-index: 5;
        }    
    }

    @include tablet {
        padding: 40px 0 48px;

        &__wrap {
            flex-direction: column;
        }

        &__info {
            width: 100%;
            margin-bottom: 20px;
        }

        &__list,
        &__text {
            padding-left: 36px;
            padding-right: 36px;
        }

        &__map {
            width: 100%;
            height: 304px;

            img {
                height: auto;
            }
        }

        &__heading {
            text-align: center;
        }
    }
}