.overlay {
   position: fixed;
   z-index: 99;
   top: 0;
   left: 0;

   display: none;
   overflow: hidden;

   width: 100vw;
   height: 100vh;

   background-color: rgba(0, 0, 0, 0.3);

   &--show {
      display: block;
   }
}
