.services {
    padding-top: 106px;
    padding-bottom: 77px;

    &__heading {
        width: 740px;
        margin: 0 auto;
        margin-bottom: 78px;
        text-align: center;
    }

    &__list {
        @include ul_reset;
        columns: 2;
        gap: 70px;
    }

    &__item {
        margin-bottom: 7px;
        padding-left: 40px;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            @include pseudo;
            width: 25px;
            height: 25px;
            left: 0;
            top: 8px;
            background-color: $heading_font_color;
        }

        &:nth-child(2n)::before {
            background-color: $alt_bg_color;
        }
    }

    @include tablet {
        padding-top: 40px;
        padding-bottom: 50px;
        
        &__heading {
            width: 100%;
            max-width: 470px;
            margin-bottom: 20px;
        }

        &__list {
            padding-left: 36px;
            padding-right: 36px;
            columns: unset;
        }

        &__item {
            margin-bottom: 14px;
            padding-left: 23px;

            &::before {
                width: 13px;
                height: 13px;
                top: 5px;
            }
        }
    }
}