// color scheme
$main_bg_color: rgba(39, 39, 39, 0.93);
$alt_bg_color: #ffffff;
$main_font_color: #181818;
$alt_font_color: #ffffff;
$btn_color: #cfac68;
$feature_color_1: #303030;
$feature_color_2: #363636;

// fonts
$main-font: "Open Sans", "Arial", sans-serif;
$author_name_font: "Merriweather", "Arial", sans-serif;

// Значения ширины контента

$max_width: 1920px;
$max_width_desktop: 1200px;
$only_desktop: 1024px;
$max_width_tablet: 1023px;
$min_width_mobile: 320px;
$max_width_mobile: 767px;
$no_mobile_width: 768px;

// Значения вьюпортов
$width_viewport_desktop: 1024px;
$width_viewport_tablet: 1023px;
$width_viewport_mobile: 767px;

// Ретинизация
$retina_dpi: 144dpi;
$retina_dppx: 1.5dppx;
