// color scheme
$main_bg_color: #ffffff;
$alt_bg_color: #303030;
$transparent_bg_color: rgba(39, 39, 39, 0.93);
$transparent_bg_color_2: rgba(39, 39, 39, 0.95);
$transparent_bg_color_3: rgba(48, 48, 48, 0.72);
$main_font_color: #181818;
$alt_font_color: #ffffff;
$heading_font_color: #cfac68;
$feature_color_1: #303030;
$feature_color_2: #363636;

// fonts
$main-font: 'Open Sans', Arial, sans-serif;
$heading_font: 'Merriweather', Arial, sans-serif;

// Значения ширины контента
$max_width: 1920px;
$content_width: 1040px;
// $content_mobile_width: 375px;
$max_width_desktop: 1200px;
$only_desktop: 1024px;
$max_width_tablet: 1023px;
$min_width_mobile: 320px;
$max_width_mobile: 767px;
$no_mobile_width: 768px;

// Значения вьюпортов
$width_viewport_desktop: 1024px;
$width_viewport_tablet: 1023px;
$width_viewport_mobile: 767px;

// Ретинизация
$retina_dpi: 144dpi;
$retina_dppx: 1.5dppx;