html,
body {
  height: 100%;
}

body {
  min-width: $min_width_mobile;
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  font-family: $main-font;
  color: $black;
  word-wrap: normal;

  background-color: $white;
}

a:focus {
  outline: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.body_hidden {
  width: 100vw;
  overflow: hidden;
}

@media (max-width: $max_width_mobile) {
  .body_hidden {
    position: fixed;
  }
}
