body {
  min-width: $min_width_mobile;
  margin: 0;
  padding: 0;

  word-wrap: normal;

  color: $main_font_color;
  background-color: $main_bg_color;

  font-family: $main-font;
  font-size: 25px;
  font-weight: 400;
}

a {
  text-decoration: none;

  color: inherit;
}

a:focus {
  outline: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

// .body_hidden {
//   width: 100vw;
//   overflow: hidden;
// }

// @include mobile {
//   .body_hidden {
//     position: fixed;
//   }
// }