.menu {
    font-size: 21px;
    line-height: 33px;
    letter-spacing: 0.01em;

    &__list {
        @include ul_reset;
        display: flex;

        &--footer {
            height: 64px;

            font-size: 19px;
            line-height: 29px;
            letter-spacing: 0.01em;

            display: block;
            columns: 2;
            gap: 0;
        }
    }

    &__item {
        margin-right: 40px;
        padding-bottom: 3px;
        border-bottom: 1px solid transparent;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            border-color: $heading_font_color;
        }

        &--footer {
            margin: 0;
            padding: 0;
            margin-bottom: 3px;
            border: none;

            a {
                border-bottom: 1px solid transparent;
            }        
        }
        &--footer:hover a {
            border-color: $heading_font_color;
        }
    }

    &--footer {
        width: 345px;
        margin-left: 150px;
        margin-top: -3px;
    }

    @include tablet {
        font-size: 14px;
        line-height: 22px;

        &__list {
            margin-bottom: 25px;
            flex-direction: column;
        }

        &__item {
            margin: 0;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &--footer {
            display: none;
        }

        &--hidden {
            display: none;
        }
    }
}