.social {
    &__heading {
        margin: 0;
        margin-bottom: 3px;
        padding: 0;
        font-weight: bold;
        font-size: 15px;
        line-height: 21px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
    }

    &__list {
        @include ul_reset;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    &__item {
        margin-right: 23px;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 1;
        }
    }

    &__icon {
        &--vk {
            width: 47px;
            height: 26px;
        }

        &--fb {
            width: 17px;
            height: 32px;
        }
    }

    @include tablet {
        &__heading {
            font-size: 11px;
            line-height: 15px;
        }

        &__icon {
            &--vk {
                width: 27px;
                height: 15px;
            }
    
            &--fb {
                width: 10px;
                height: 18px;
            }
        }    
    }
}